.DS_Store
Me/*
\.*.swp
*.pyc
*.log
*~
#*
.#*
*.tmproj
node_modules
scheduler.json
tests/Data/
lockerbox*
Config/*
!Config/*.example
Logs/*
!.gitignore
/Me.1/21bc72f203c245090ff36f5eebd38485/me.json
/Me.1/7eb126ae549f9cf9a602e73d77e19ef5/me.json
/Me.1/7eb126ae549f9cf9a602e73d77e19ef5/my/default/history.json
/Me.1/contacts/me.json
/Me.1/e571a2aff1a369ebbea5d2cde9537612/me.json
/Me.1/key
/Me.1/key.pub
/Me.1/links/me.json
/Me.1/messages/me.json
/Me.1/mongodata/mongod.lock
/Me.1/photos/me.json
/Me.1/symKey
/Me.1/videos/me.json
/Me.2/contacts/me.json
/Me.2/key
/Me.2/key.pub
/Me.2/links/me.json
/Me.2/mongodata/mongod.lock
/Me.2/symKey
/Me.keep
/merge_root.sh
